#log_in{
    display: none;
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
#login_form, #sign_up {
    position: relative;
    top: -60px;
    z-index: 100;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    width: 60%;
    margin: 0 auto;
}
.login_h2{
    text-align: center;
    font-family: 'Aleo', sans-serif;
    font-weight: 700;
    font-size: 2.2em;
    color: #0D606F;
    padding-top: 25px;
    padding-bottom: 5px;
}
.form_input{
    width: 100%;
    display: grid;
    gap: 30px;
    padding: 0 50px;
}
.email, .psw{
    display: grid;
    width: 100%;
    font-family: 'Aleo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0D606F;
}
.login__input{
    width: 100%;
    height: 54px;
    border: 0;
    box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}
.login__input:focus{
    outline: none;
}
.log_in-btn{
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    height: 54px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Red Hat Text';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.forgot-password{
    font-family: 'Aleo', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #0D606F;
    text-align: center;
    text-decoration-line: underline;
}
.sign_container, .login_container{
    padding-bottom: 40px;
}
.container__text{
    font-family: 'Aleo', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: rgba(13, 96, 111, 0.5);
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    text-align: center;
    margin-top: 20px;
}
.container__link{
    text-decoration-line: underline;
    color: #0D606F;
}